<ion-header>
  <ion-toolbar>
    <ion-title>
      App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h1>
      Phone Number:
    </h1>
    <p>
      {{ textAddress ? textAddress : "Unavailable" }}
    </p>

    <h1>
      Message Content: 
    </h1>
    <p>
      {{ textBody ? textBody : "Unavailable" }}
    </p>

    <ion-button (click)="permission()">Request SMS Send Permission</ion-button>
    <ion-button (click)="sendSmsMessage()">Send Text Message</ion-button>
  </div>
</ion-content>
